<footer>
<div class="row">
  <div class="col-sm-4">
    <p>BehnamGh</p>

  </div>
  <div class="col-sm-2 col-sm-offset-6">
    <a href="http://telegram.me/medicaldevicesir">
<p>
          <img height="30" width="30" src="/images/telegram.png" class="instapic" alt="Instagram" />
      به کانال تلگرام ما بپيونديد..
    </p>
  </a>

</div>
</div>


</footer>
