<div class="col-lg-9">
<div ng-controller="MindrayController as devicefinder">
<table class="table table-hover">
        <tr>
          <td>Brands name</td>
          <td>model name</td>
          <td>year</td>
          <td>clinical application</td>
          <td>frame rate</td>
          <td>pic</td>
        </tr>
        <tr ng-repeat="item in devicefinder.lists">
          <td>{{item.brand}}</td>
          <td>{{item.model}}</td>
          <td>{{item.year}}</td>
          <td>{{item.clinicalapp}}</td>
          <td>{{item.framerate}}</td>
          <td>  <img ng-src="../images/{{item.year}}" alt="modelpic" height="200px" width="100px"/></td>
        </tr>

      </table>
</div>
</div>
