<div class="container">

  <h1>salam khosh galmisiz</h1>

  <label for="typeselect">device type:</label>
  <select onchange="typeselect(this);" name="type">
    <option value="">select device type</option>
    <option value="ultrasound">ultrasound</option>
    <option value="labratory">labratory</option>
    <option value="operation">operation</option>
    <option value="orthopedic">orthopedic</option>
    <option value="urology">urology</option>
    <option value="emergency">emergency</option>
    <option value="anesthesia">anesthesia and respiratory</option>
    <option value="skin">skin</option>
    <option value="ophthalmology">ophthalmology</option>
    <option value="gynecology">gynecology</option>
    <option value="physiotherapy">physiotherapy</option>
    <option value="endoscopy">endoscopy</option>
    <option value="neurology">neurology</option>
  </select>

  <br>

  <div id="iflabratory" style="display: none;">
    <% include form/labratory.ejs %>
  </div>
  <div id="ifoperation" style="display: none;">
    <% include form/operation.ejs %>
  </div>
  <div id="iforthopedic" style="display: none;">
    <% include form/orthopedic.ejs %>
  </div>
  <div id="ifurology" style="display: none;">
    <% include form/urology.ejs %>
  </div>
  <div id="ifemergency" style="display: none;">
    <% include form/emergency.ejs %>
  </div>
  <div id="ifanesthesia" style="display: none;">
    <% include form/anesthesia.ejs %>
  </div>
  <div id="ifultrasound" style="display: none;">
    <% include form/ultrasound.ejs %>
  </div>
  <div id="ifskin" style="display: none;">
    <% include form/skin.ejs %>
  </div>
  <div id="ifophthalmology" style="display: none;">
    <% include form/ophthalmology.ejs %>
  </div>
  <div id="ifgynecology" style="display: none;">
    <% include form/gynecology.ejs %>
  </div>
  <div id="ifphysiotherapy" style="display: none;">
    <% include form/physiotherapy.ejs %>
  </div>
  <div id="ifendoscopy" style="display: none;">
    <% include form/endoscopy.ejs %>
  </div>
  <div id="ifneurology" style="display: none;">
    <% include form/neurology.ejs %>
  </div>


  </form>


</div>
<script>
  function typeselect(that) {
    if (that.value == "labratory") {
      document.getElementById("iflabratory").style.display = "block";
        document.getElementById("ifoperation").style.display = "none";
        document.getElementById("iforthopedic").style.display = "none";
        document.getElementById("ifurology").style.display = "none";
        document.getElementById("ifemergency").style.display = "none";
        document.getElementById("ifanesthesia").style.display = "none";
        document.getElementById("ifultrasound").style.display = "none";
        document.getElementById("ifskin").style.display = "none";
        document.getElementById("ifophthalmology").style.display = "none";
        document.getElementById("ifgynecology").style.display = "none";
        document.getElementById("ifphysiotherapy").style.display = "none";
        document.getElementById("ifendoscopy").style.display = "none";
        document.getElementById("ifneurology").style.display = "none";

    } else if (that.value == "operation") {
      document.getElementById("iflabratory").style.display = "none";
        document.getElementById("ifoperation").style.display = "block";
        document.getElementById("iforthopedic").style.display = "none";
        document.getElementById("ifurology").style.display = "none";
        document.getElementById("ifemergency").style.display = "none";
        document.getElementById("ifanesthesia").style.display = "none";
        document.getElementById("ifultrasound").style.display = "none";
        document.getElementById("ifskin").style.display = "none";
        document.getElementById("ifophthalmology").style.display = "none";
        document.getElementById("ifgynecology").style.display = "none";
        document.getElementById("ifphysiotherapy").style.display = "none";
        document.getElementById("ifendoscopy").style.display = "none";
        document.getElementById("ifneurology").style.display = "none";
    } else if (that.value == "orthopedic") {
      document.getElementById("iflabratory").style.display = "none";
        document.getElementById("ifoperation").style.display = "none";
        document.getElementById("iforthopedic").style.display = "block";
        document.getElementById("ifurology").style.display = "none";
        document.getElementById("ifemergency").style.display = "none";
        document.getElementById("ifanesthesia").style.display = "none";
        document.getElementById("ifultrasound").style.display = "none";
        document.getElementById("ifskin").style.display = "none";
        document.getElementById("ifophthalmology").style.display = "none";
        document.getElementById("ifgynecology").style.display = "none";
        document.getElementById("ifphysiotherapy").style.display = "none";
        document.getElementById("ifendoscopy").style.display = "none";
        document.getElementById("ifneurology").style.display = "none";
    } else if (that.value == "urology") {
      document.getElementById("iflabratory").style.display = "none";
        document.getElementById("ifoperation").style.display = "none";
        document.getElementById("iforthopedic").style.display = "none";
        document.getElementById("ifurology").style.display = "block";
        document.getElementById("ifanesthesia").style.display = "none";
        document.getElementById("ifemergency").style.display = "none";
        document.getElementById("ifultrasound").style.display = "none";
        document.getElementById("ifskin").style.display = "none";
        document.getElementById("ifophthalmology").style.display = "none";
        document.getElementById("ifgynecology").style.display = "none";
        document.getElementById("ifphysiotherapy").style.display = "none";
        document.getElementById("ifendoscopy").style.display = "none";
        document.getElementById("ifneurology").style.display = "none";
    } else if (that.value == "emergency") {
      document.getElementById("iflabratory").style.display = "none";
        document.getElementById("ifoperation").style.display = "none";
        document.getElementById("iforthopedic").style.display = "none";
        document.getElementById("ifurology").style.display = "none";
        document.getElementById("ifemergency").style.display = "block";
        document.getElementById("ifanesthesia").style.display = "none";
        document.getElementById("ifultrasound").style.display = "none";
        document.getElementById("ifskin").style.display = "none";
        document.getElementById("ifophthalmology").style.display = "none";
        document.getElementById("ifgynecology").style.display = "none";
        document.getElementById("ifphysiotherapy").style.display = "none";
        document.getElementById("ifendoscopy").style.display = "none";
        document.getElementById("ifneurology").style.display = "none";
    } else if (that.value == "anesthesia") {
      document.getElementById("iflabratory").style.display = "none";
        document.getElementById("ifoperation").style.display = "none";
        document.getElementById("iforthopedic").style.display = "none";
        document.getElementById("ifurology").style.display = "none";
        document.getElementById("ifemergency").style.display = "none";
        document.getElementById("ifanesthesia").style.display = "block";
        document.getElementById("ifultrasound").style.display = "none";
        document.getElementById("ifskin").style.display = "none";
        document.getElementById("ifophthalmology").style.display = "none";
        document.getElementById("ifgynecology").style.display = "none";
        document.getElementById("ifphysiotherapy").style.display = "none";
        document.getElementById("ifendoscopy").style.display = "none";
        document.getElementById("ifneurology").style.display = "none";
    } else if (that.value == "ultrasound") {
      document.getElementById("iflabratory").style.display = "none";
        document.getElementById("ifoperation").style.display = "none";
        document.getElementById("iforthopedic").style.display = "none";
        document.getElementById("ifurology").style.display = "none";
        document.getElementById("ifemergency").style.display = "none";
        document.getElementById("ifanesthesia").style.display = "none";
        document.getElementById("ifultrasound").style.display = "block";
        document.getElementById("ifskin").style.display = "none";
        document.getElementById("ifophthalmology").style.display = "none";
        document.getElementById("ifgynecology").style.display = "none";
        document.getElementById("ifphysiotherapy").style.display = "none";
        document.getElementById("ifendoscopy").style.display = "none";
        document.getElementById("ifneurology").style.display = "none";
    } else if (that.value == "skin") {
      document.getElementById("iflabratory").style.display = "none";
        document.getElementById("ifoperation").style.display = "none";
        document.getElementById("iforthopedic").style.display = "none";
        document.getElementById("ifurology").style.display = "none";
        document.getElementById("ifemergency").style.display = "none";
        document.getElementById("ifanesthesia").style.display = "none";
        document.getElementById("ifultrasound").style.display = "none";
        document.getElementById("ifskin").style.display = "block";
        document.getElementById("ifophthalmology").style.display = "none";
        document.getElementById("ifgynecology").style.display = "none";
        document.getElementById("ifphysiotherapy").style.display = "none";
        document.getElementById("ifendoscopy").style.display = "none";
        document.getElementById("ifneurology").style.display = "none";
    } else if (that.value == "ophthalmology") {
      document.getElementById("iflabratory").style.display = "none";
        document.getElementById("ifoperation").style.display = "none";
        document.getElementById("iforthopedic").style.display = "none";
        document.getElementById("ifurology").style.display = "none";
        document.getElementById("ifemergency").style.display = "none";
        document.getElementById("ifanesthesia").style.display = "none";
        document.getElementById("ifultrasound").style.display = "none";
        document.getElementById("ifskin").style.display = "none";
        document.getElementById("ifophthalmology").style.display = "block";
        document.getElementById("ifgynecology").style.display = "none";
        document.getElementById("ifphysiotherapy").style.display = "none";
        document.getElementById("ifendoscopy").style.display = "none";
        document.getElementById("ifneurology").style.display = "none";
    } else if (that.value == "gynecology") {
      document.getElementById("iflabratory").style.display = "none";
        document.getElementById("ifoperation").style.display = "none";
        document.getElementById("iforthopedic").style.display = "none";
        document.getElementById("ifurology").style.display = "none";
        document.getElementById("ifemergency").style.display = "none";
        document.getElementById("ifanesthesia").style.display = "none";
        document.getElementById("ifultrasound").style.display = "none";
        document.getElementById("ifskin").style.display = "none";
        document.getElementById("ifophthalmology").style.display = "none";
        document.getElementById("ifgynecology").style.display ="block";
        document.getElementById("ifphysiotherapy").style.display = "none";
        document.getElementById("ifendoscopy").style.display = "none";
        document.getElementById("ifneurology").style.display = "none";
    } else if (that.value == "physiotherapy") {
      document.getElementById("iflabratory").style.display = "none";
        document.getElementById("ifoperation").style.display = "none";
        document.getElementById("iforthopedic").style.display = "none";
        document.getElementById("ifurology").style.display = "none";
        document.getElementById("ifemergency").style.display = "none";
        document.getElementById("ifanesthesia").style.display = "none";
        document.getElementById("ifultrasound").style.display = "none";
        document.getElementById("ifskin").style.display = "none";
        document.getElementById("ifophthalmology").style.display = "none";
        document.getElementById("ifgynecology").style.display = "none";
        document.getElementById("ifphysiotherapy").style.display = "block";
        document.getElementById("ifendoscopy").style.display = "none";
        document.getElementById("ifneurology").style.display = "none";
    } else if (that.value == "endoscopy") {
      document.getElementById("iflabratory").style.display = "none";
        document.getElementById("ifoperation").style.display = "none";
        document.getElementById("iforthopedic").style.display = "none";
        document.getElementById("ifurology").style.display = "none";
        document.getElementById("ifemergency").style.display = "none";
        document.getElementById("ifanesthesia").style.display = "none";
        document.getElementById("ifultrasound").style.display = "none";
        document.getElementById("ifskin").style.display = "none";
        document.getElementById("ifophthalmology").style.display = "none";
        document.getElementById("ifgynecology").style.display = "none";
        document.getElementById("ifphysiotherapy").style.display = "none";
        document.getElementById("ifendoscopy").style.display = "block";
        document.getElementById("ifneurology").style.display = "none";
    } else if (that.value == "neurology") {
      document.getElementById("iflabratory").style.display = "none";
        document.getElementById("ifoperation").style.display = "none";
        document.getElementById("iforthopedic").style.display = "none";
        document.getElementById("ifurology").style.display = "none";
        document.getElementById("ifemergency").style.display = "none";
        document.getElementById("ifanesthesia").style.display = "none";
        document.getElementById("ifultrasound").style.display = "none";
        document.getElementById("ifskin").style.display = "none";
        document.getElementById("ifophthalmology").style.display = "none";
        document.getElementById("ifgynecology").style.display = "none";
        document.getElementById("ifphysiotherapy").style.display = "none";
        document.getElementById("ifendoscopy").style.display = "none";
        document.getElementById("ifneurology").style.display = "block";
    }
  }
</script>
