<sidebar class="sidebar-right col-lg-2">
    <h3 class="text-muted matn">دستگاه پزشکی</h3>
    <nav>
      <ul class="nav nav-pills nav-stacked matn">
        <li class="active"><a href="#">آزمایشگاهی</a></li>
        <li><a href="#">اتاق عمل</a></li>
        <li><a href="#">ارتوپدی</a></li>
        <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">اورولوژی<span class="caret"></span></a>
      <ul class="dropdown-menu">
          <li><a href="/brands/brands?brandname=mindray">mindray</a></li>
          <li><a href="/brands/brands?brandname=philips">philips</a></li>
          <li><a href="/brands/brands?brandname=siemens">siemens</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul></li>
          <li><a href="#">اورژانس</a></li>
        <li><a href="#">بیهوشی و تنفسی</a></li>
        <li><a href="/sonography">تصویربرداری</a></li>
        <li><a href="#">پوست</a></li>
        <li><a href="#">چشم پزشکی</a></li>
        <li><a href="#">زنان و زایمان</a></li>
        <li><a href="#">فیزیوتراپی</a></li>
        <li><a href="#">آندوسکوپی</a></li>
        <li><a href="#">مغز و اعصاب</a></li>
      </ul>
    </nav>

</sidebar>
