<sidebar class="col-sm-2">
  <h3 class="text-muted matn">دستگاه پزشکی</h3>
  <nav>
    <ul class="nav nav-pills nav-stacked matn">
      <li class="disabled"><a href="#/lab">آزمایشگاهی</a></li>
      <li class="disabled"><a href="#/device/op">اتاق عمل</a></li>
      <li class="disabled"><a href="#">ارتوپدی</a></li>
      <li class="dropdown disabled">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">اورولوژی<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/brands/brands?brandname=mindray">mindray</a></li>
          <li><a href="/brands/brands?brandname=philips">philips</a></li>
          <li><a href="/brands/brands?brandname=siemens">siemens</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="disabled" role="separator" class="divider"></li>
          <li class="disabled"><a href="#">One more separated link</a></li>
        </ul>
      </li>
      <li class="disabled"><a href="#/device/Emergency">اورژانس</a></li>
      <li class="disabled"><a href="#">بیهوشی و تنفسی</a></li>
      <li><a href="#/device/ultrasound">تصویربرداری</a></li>
      <li class="disabled"><a href="#/browser/dc">پوست</a></li>
      <li class="disabled"><a href="#">چشم پزشکی</a></li>
      <li class="disabled"><a href="#">زنان و زایمان</a></li>
      <li class="disabled"><a href="#">فیزیوتراپی</a></li>
      <li class="disabled"><a href="#">آندوسکوپی</a></li>
      <li class="disabled"><a href="#">مغز و اعصاب</a></li>
    </ul>
  </nav>

</sidebar>
