<div class="col-sm-3">
<a href="/ultrasound/mindray"><img src="images/brands-logo/mindray.jpg" alt="mindray-logo" height="100px" width="200px"/></a>
</div>
<div class="col-sm-3">
  <a href="/ultrasound/siemens"><img src="images/brands-logo/siemens.png" alt="siemens-logo" height="100px" width="200px"/></a>
</div>
<div class="col-sm-3">
  <a href="/ultrasound/philips"><img src="images/brands-logo/philips.png" alt="philips-logo" height="100px" width="200px"/></a>
</div>
