<!DOCTYPE html>
<html ng-app="medicaldevice" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="information about medical device and compare brands and models">
  <meta name="author" content="Behnam Ghafary">
  <link rel="icon" href="../../favicon.ico">

  <title>Medical-devices.ir</title>

  <!-- Bootstrap core CSS -->
  <link href="../css/style.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/lib/justified-nav.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <script src="../js/lib/jquery-2.1.4.min.js"></script>
  <script src="../js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/lib/angular.min.js"></script>
  <script type="text/javascript" src="../js/lib/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="../js/controllers/app.js"></script>
  <div class="container-fluid">
    <% include partials/carousel.ejs %>
      <div class="row">
        <ui-view>
                <div class="col-lg-3">
                  <h2 class="matn">بیلبائو</h2>
                <p class="matn">  شاگردان والورده با غلبه 5-1 مقابل بارسا در مجموع دو بازی، با روحیه ای خوب خود را برای این دیدار خانگی آماده می‌کنند. بیلبائو قصد دارد فصل را در خانه با پیروزی آغاز کند و پیروزی هفته ی گذشته آنها می‌تواند از لحاظ روحی روانی باعث شود تا یک قدم جلو باشند. با تعدد غایبان بارسا، بیلبائو که فصل گذشته لیگ را در رده ی هفتم به پایان رساند، می‌خواهد شروعی خوب داشته باشد.آدوریز مقابل بارسا هت تریک کرد و امید اول باسکی ها در این دیدار خواهد بود. </p>
                <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
                </div>

                <div class="col-lg-3">
                  <h2 class="matn">علی اخلاصی</h2>
                <p class="matn">,شاگردان والورده با غلبه 5-1 مقابل بارسا در مجموع دو بازی، با روحیه ای خوب خود را برای این دیدار خانگی آماده می‌کنند. بیلبائو قصد دارد فصل را در خانه با پیروزی آغاز کند و پیروزی هفته ی گذشته آنها می‌تواند از لحاظ روحی روانی باعث شود تا یک قدم جلو باشند. با تعدد غایبان بارسا، بیلبائو که فصل گذشته لیگ را در رده ی هفتم به پایان رساند، می‌خواهد شروعی خوب داشته باشد.آدوریز مقابل بارسا هت تریک کرد و امید اول باسکی ها در این دیدار خواهد بود.يک پرسپوليسی سوراخ</p>
                <p><a class="btn btn-primary" href="#/sono" role="button">View details &raquo;</a></p>
                   </div>
                <div class="col-lg-3">
                  <h2 class="matn">sono</h2>
                  <p class="matn">شاگردان والورده با غلبه 5-1 مقابل بارسا در مجموع دو بازی، با روحیه ای خوب خود را برای این دیدار خانگی آماده می‌کنند. بیلبائو قصد دارد فصل را در خانه با پیروزی آغاز کند و پیروزی هفته ی گذشته آنها می‌تواند از لحاظ روحی روانی باعث شود تا یک قدم جلو باشند. با تعدد غایبان بارسا، بیلبائو که فصل گذشته لیگ را در رده ی هفتم به پایان رساند، می‌خواهد شروعی خوب داشته باشد.آدوریز مقابل بارسا هت تریک کرد و امید اول باسکی ها در این دیدار خواهد بود.علی جااان فدااااااااااااا</p>
                  <p><a class="btn btn-primary" href="#/sono" role="button">View details &raquo;</a></p>
                </div></ui-view>
          <% include partials/sidenav.ejs %>
      </div>
      <% include partials/footer.ejs %>
  </div>
  <!-- /container -->


  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>

</html>
