<!DOCTYPE html>
<html ng-app="medicaldevice" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="information about medical device and compare brands and models">
  <meta name="author" content="Behnam Ghafary">
  <link rel="icon" href="../../favicon.ico">

  <title>Medical-devices.ir</title>

  <!-- Bootstrap core CSS -->
  <link href="../css/style.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/lib/justified-nav.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Start WOWSlider.com HEAD section -->
  <link rel="stylesheet" type="text/css" href="engine1/style.css" />
  <script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/js/script.js">

  </script>
  <!-- End WOWSlider.com HEAD section -->

</head>

<body>

  <script src="../js/lib/jquery-2.1.4.min.js"></script>
  <script src="../js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/lib/angular.min.js"></script>
  <script type="text/javascript" src="../js/lib/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="../js/controllers/app.js"></script>

  <div class="container-fluid">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="/">medical-devices.ir</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form class="navbar-form navbar-left" onsubmit="return redirect();">
        <div class="form-group">
          <input id="search" type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>






      <ul class="nav navbar-nav pull-right">
        <li><a href="#/contactus">تماس با ما</a></li>
        <li><a href="#/aboutus">درباره ما</a></li>
        <li class="active"><a href="/">صفحه اصلی</a></li>


      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="row">
      <div class="col-sm-10">



        <!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="data1/images/1.jpg" alt="1" title="مديکال ديوايس دت آی ار" id="wows1_0"/>مرجعی کامل برای تجهيزات پزشکی و آزمايشگاهی</li>
		<li><a href="http://wowslider.com"><img src="data1/images/2.jpg" alt="http://wowslider.com/" title="" id="wows1_1"/></a>مقايسه امکانات برندها و مدل های شرکت های مختلف</li>
		<li><img src="data1/images/3.jpg" alt="3333" title="" id="wows1_2"/>اطلاعات کاملی از کلّی تجهيزات پزشکی به همراه عکس کلينيکی دستگاه</li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="1"><span><img src="data1/tooltips/1.jpg" alt="1"/>1</span></a>
		<a href="#" title="2"><span><img src="data1/tooltips/2.jpg" alt="2"/>2</span></a>
		<a href="#" title="3333"><span><img src="data1/tooltips/3.jpg" alt="3333"/>3</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">wow slider</a> by WOWSlider.com v8.5</div>
<div class="ws_shadow"></div>
</div>
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->


        <ui-view>
          <div class="row mainp">
            <div class="col-sm-4">
              <h2 class="matn"> آشنايي با الزامات قانوني در توليد وسايل پزشكي</h2><hr>
              <p class="matn">آيا مي دانيد از ارديبهشت 1387 وسايل پزشكي فقط با روش جديد مجوز توليد مي گيرند ؟
آيا مي دانيد كليه تائيديه هاي قبلي از درجه اعتبار ساقط است ؟
آيا مي دانيد بر اساس قانون جديد ( مبارزه با قاچاق ) توليد ، عرضه و استفاده از كليه وسايل پزشكي بدون مجوز اداره كل از سال 1387 جرم محسوب مي شود ؟
آيا مي دانيد براي اخذ مجوز چه مدارك اثباتي بايد به اداره كل ارائه كنيد ؟
آيا مي دانيد گزارش تطابق وسيله با الزامات اساسي چگونه بايد تهيه گردد ؟</p>
              <p><a class="btn btn-primary" href="#/device/ultrasound" role="button">View details &raquo;</a></p>
            </div>

            <div class="col-sm-4">
              <h2 class="matn">دوره آموزشي</h2><hr>
              <p class="matn">به سفارش و حمايت اداره كل تجهيزات پزشكي به منظور ارتقاي كيفيت توليد وسايل پزشكي برگزار مي شود ، اطلاعات كلي بشرح ذيل تقديم مي گردد :

زمان : روز يكشنبه مورخ 29 ارديبهشت 1387 از ساعت 8:00 الي 17:00 
مكان : ساختمان مركزي وزارت بهداشت ، درمان و آموزش پزشكي واقع در شهرك قدس – خيابان فلامك جنوبي – خيابان سيماي ايران برگزار مي گردد .
مهلت ثبت نام : حداكثر تا 22 ارديبهشت 1387
هزينه ثبت نام : هر نفر 350000 ريال</p>
                <p><a class="btn btn-primary" href="#/device/ultrasound" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-sm-4">
              <h2 class="matn">مباحث دوره :</h2><hr>
              <p class="matn">• مرور كلي بر مدارك مورد نياز براي اخد مجوز از اداره كل تجهيزات پزشكي
• آشنايي با الزامات اساسي ( اصول ايمني و عملكرد وسايل پزشكي )
• آشنايي با الزامات مديريت ريسك ( استاندارد ISO 14971 : 2007 ) 
• آشنايي با الزامات سيستم مديريت كيفيت ( استاندارد ISO 13485 : 2003 ) 
• آشنايي با الزامات فرآيند استريل
( شامل 8 ساعت آموزش ، كتاب و جزوات دوره ، پذيرايي نيمروز ، ناهار ، گواهينامه حضور در دوره با تاييد اداره كل تجهيزات پزشكي )</p>
              <p><a class="btn btn-primary" href="#/device/ultrasound" role="button">View details &raquo;</a></p>
            </div>
          </div>
        </ui-view>
      </div>

      <% include partials/sidenav.ejs %>
    </div>
  </div>
  <!-- /container -->
  <% include partials/footer.ejs %>


  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

</body>

</html>
