<!DOCTYPE html>
<html ng-app="medicaldevice" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="information about medical device and compare brands and models">
  <meta name="author" content="Behnam Ghafary">
  <link rel="icon" href="../../favicon.ico">

  <title>Medical-devices.ir</title>

  <!-- Bootstrap core CSS -->
  <link href="../css/style.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/lib/justified-nav.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Start WOWSlider.com HEAD section -->
  <link rel="stylesheet" type="text/css" href="engine1/style.css" />
  <script type="text/javascript" src="engine1/jquery.js"></script>
  <!-- End WOWSlider.com HEAD section -->
</head>

<body>

  <script src="../js/lib/jquery-2.1.4.min.js"></script>
  <script src="../js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/lib/angular.min.js"></script>
  <script type="text/javascript" src="../js/lib/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="../js/controllers/app.js"></script>
  <div class="container-fluid">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">medical-devices.ir</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <script>
  function redirect() {
    document.location.href = '#/browser/' + document.getElementById('search').value;
    return false;
  }
  </script>
    <form class="navbar-form navbar-left" onsubmit="return redirect();">
        <div class="form-group">
          <input id="search" type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>






      <ul class="nav navbar-nav pull-right">
        <li><a href="#/contactus">تماس با ما</a></li>
        <li><a href="#/aboutus">درباره ما</a></li>
        <li class="active"><a href="/">صفحه اصلی</a></li>


      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="row">
      <div class="col-md-10">

        <!-- Start WOWSlider.com BODY section -->
        <div id="wowslider-container1">
        <div class="ws_images"><ul>
        		<li><img src="data1/images/11.jpg" alt="123" title="مديکال ديوايس دت آی ار" id="wows1_0"/>مرجعی کامل برای تجهيزات پزشکی و آزمايشگاهی</li>
        		<li><a href="http://wowslider.net"><img src="data1/images/22.jpg" alt="jquery carousel" title="" id="wows1_1"/></a>مقايسه امکانات برندها و مدل های شرکت های مختلف</li>
        		<li><img src="data1/images/33.jpg" alt="33" title="" id="wows1_2"/>اطلاعات کاملی از کلّی تجهيزات پزشکی به همراه عکس کلينيکی دستگاه</li>
        	</ul>
        </div>
        	<div class="ws_bullets"><div>
        		<a href="#" title="مديکال ديوايس دت آی ار"><span><img src="data1/tooltips/11.jpg" alt="123"/>1</span></a>
        		<a href="#" title=""><span><img src="data1/tooltips/22.jpg" alt="22"/>2</span></a>
        		<a href="#" title=""><span><img src="data1/tooltips/33.jpg" alt="33"/>3</span></a>
        	</div></div>
          <div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">bootstrap carousel</a> by WOWSlider.com v8.5</div>
        <div class="ws_shadow"></div>
        </div>
        <script type="text/javascript" src="engine1/wowslider.js"></script>
        <script type="text/javascript" src="engine1/script.js"></script>
        <!-- End WOWSlider.com BODY section -->


        <ui-view>
          <div class="row mainp">
            <div class="col-lg-4">
              <h2 class="matn">اداره کل تجهیزات پزشکی</h2>
              <p class="matn">رتباط اساسی حوزه‌های مختلف لوازم و تجهیزات پزشکی با یکدیگر بررسی یکی بدون دیگری را غیر ممکن می‌سازد. به عنوان مثال بررسی‌های قیمت بی تردید مرتبط با سطح کیفیت کالای تولید شده می‌باشد. لذا بررسی‌های کیفیت، خود پاره‌ای از بررسی قیمت محسوب می‌گردد. حصول چنین دیدگاه مثبتی پس از چند سال تجربه عملکرد دفتر تجهیزات پزشکی و اداره کل بررسی قیمت منجر به ادغام این دو مرکز و تشکیل اداره کل تجهیزات پزشکی در سال ۱۳۷۲ زیر نظر معاونت درمان گردید. در سال ۱۳۸۴ با تغییر رویکرد وزارت بهداشت درمان و آموزش پزشکی و حمایت همه‌جانبه از توسعه امور نظارتی و مدیریتی در حوزه تجهیزات پزشکی، اداره کل تجهیزات پزشکی زیر نظر مرکز مدیریت و هماهنگی امور بازرگانی طرح‌های زیادی در زمینه‌های مرتبط به اجرا در آورد که یکی از مهمترین آنها تدوین ضوابط وسایل پزشکی بود.</p>
              <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
            </div>

            <div class="col-lg-4">
              <h2 class="matn">وظایف</h2>
              <p class="matn">ر اساس قانون تشکیلات و وظایف وزارت بهداشت، درمان و آموزش پزشکی ایران مصوب سوم خرداد۶۷، تعیین ضوابط مربوط به ورود، ساخت، نگهداری، صدور مجوز این فعالیتها و انهدام تجهیزات و مواد مصرفی پزشکی، دندانپزشکی، آزمایشگاهی و توانبخشی و نیز ارزشیابی، نظارت و کنترل این ضوابط به عهده این وزارتخانه‌است.

همچنین مطابق ماده ۱۴ قانون مقررات امور پزشکی، دارویی و مواد خوراکی و آشامیدنی مصوب ۲۳ فروردین ۶۷، ساخت یا ورود هر نوع مواد و تجهیزات پزشکی، دندانپزشکی یا مواد اولیه، قطعات و بسته بندی آنها که فهرست سوی وزارت بهداشت، درمان و آموزش پزشکی اعلام می‌شود باید با اجازه قبلی و موافقت این وزارتخانه انجام شود.

ترخیص این کالاها از گمرک نیز باید با کسب اجازه از وزارت بهداشت انجام شود.</p>
                <p><a class="btn btn-primary" href="#/sono" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
              <h2 class="matn">اداره تجهیزات آزمایشگاهی</h2>
              <p class="matn">اداره تجهیزات آزمایشگاهی، تدوین استانداردها، کنترل کیفی و نظارت بر تولید، توزیع و وادرات تجهیزات، ملزومات، کیتها و مواد آزمایشگاهی تشخیص طبی داخلی و واداتی را برعهده دارد و در زمینه خدمات پس از فروش و نگهداری این وسایل با اداره مهندسی و نگهداری همکاری می‌کند. صدور مجوز، تدوین مقررات و ضوابط، تولید، واردات، خرید و فروش، نگهداری و توزیع تجهیزات، مواد کیتهای آزمایشگاهی و رسیدگی به شکایتهای رسیده از این کالاها با همکاری این اداره انجام می‌شود. در صورت لزوم نظر آزمایشگاه کنترل غذا دارو یا آزمایشگاههای رفرانس برای بررسی کیفی دستگاهها و مواد اخذ می‌شود.بررسی کیفیت و قیمت تجهیزات، مواد و کیتهای آزمایشگاهی برای پاسخ به استعلام دانشگاههای علوم پزشکی یا سایر مراکز بهداشت – درمانی نیز از دیگر فعالیتهای این اداره‌است.</p>
              <p><a class="btn btn-primary" href="#/sono" role="button">View details &raquo;</a></p>
            </div>
          </div>
        </ui-view>
      </div>

      <% include partials/sidenav.ejs %>
    </div>
    <% include partials/footer.ejs %>
  </div>
  <!-- /container -->


  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

</body>

</html>
