<div class="col-sm-3">
  <h2 class="matn">بیلبائو</h2>
  <p class="matn"> شاگردان والورده با غلبه 5-1 مقابل بارسا در مجموع دو بازی، با روحیه ای خوب خود را برای این دیدار خانگی آماده می‌کنند. بیلبائو قصد دارد فصل را در خانه با پیروزی آغاز کند و پیروزی هفته ی گذشته آنها می‌تواند از لحاظ روحی روانی باعث شود تا یک قدم جلو باشند.
    با تعدد غایبان بارسا، بیلبائو که فصل گذشته لیگ را در رده ی هفتم به پایان رساند، می‌خواهد شروعی خوب داشته باشد.آدوریز مقابل بارسا هت تریک کرد و امید اول باسکی ها در این دیدار خواهد بود. </p>
  <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
</div>
<div class="col-sm-3">
  <h2 class="matn">علی اخلاصی</h2>
  <p class="matn">,شاگردان والورده با غلبه 5-1 مقابل بارسا در مجموع دو بازی، با روحیه ای خوب خود را برای این دیدار خانگی آماده می‌کنند. بیلبائو قصد دارد فصل را در خانه با پیروزی آغاز کند و پیروزی هفته ی گذشته آنها می‌تواند از لحاظ روحی روانی باعث شود تا یک قدم جلو باشند.
    با تعدد غایبان بارسا، بیلبائو که فصل گذشته لیگ را در رده ی هفتم به پایان رساند، می‌خواهد شروعی خوب داشته باشد.آدوریز مقابل بارسا هت تریک کرد و امید اول باسکی ها در این دیدار خواهد بود.يک پرسپوليسی سوراخ</p>
  <p><a class="btn btn-primary" href="#/ultrasound" role="button">View details &raquo;</a></p>
</div>
<div class="col-sm-3">
  <h2 class="matn">ultrasound</h2>
  <p class="matn">شاگردان والورده با غلبه 5-1 مقابل بارسا در مجموع دو بازی، با روحیه ای خوب خود را برای این دیدار خانگی آماده می‌کنند. بیلبائو قصد دارد فصل را در خانه با پیروزی آغاز کند و پیروزی هفته ی گذشته آنها می‌تواند از لحاظ روحی روانی باعث شود تا یک قدم جلو باشند.
    با تعدد غایبان بارسا، بیلبائو که فصل گذشته لیگ را در رده ی هفتم به پایان رساند، می‌خواهد شروعی خوب داشته باشد.آدوریز مقابل بارسا هت تریک کرد و امید اول باسکی ها در این دیدار خواهد بود.علی جااان فدااااااااااااا</p>
  <p><a class="btn btn-primary" href="#/ultrasound" role="button">View details &raquo;</a></p>
</div>
