<div ng-controller="ModelController as devicefinder">
  <div ng-repeat="item in devicefinder.lists">
    <ol class="breadcrumb">
      <li><a href="#/device/ultrasound">{{item.type}}</a></li>
      <li><a href="#/{{item.type}}/{{item.brand}}">{{item.brand}}</a></li>
      <li class="active">{{item.model}}</li>
    </ol>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-1">
        <center>
          <h4><a ng-href="#/compare1/{{item.type}}/{{item._id}}">(compare with other device)</a></h4>
        </center>
        <table class="table jadval">
          <thead>
            <tr>
              <th>information table</th>
              <th>information about<a ng-href="#/{{item.type}}/model/{{item._id}}"> {{item.model}} from {{item.brand}}</a></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="danger">
                <center>clinicalapp</center>
              </td>
              <td class="active">
                <center>{{item.clinicalapp}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>year</center>
              </td>
              <td class="active">
                <center>{{item.year}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>clinicalapp</center>
              </td>
              <td class="active">
                <center>{{item.clinicalapp}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>diffrent</center>
              </td>
              <td class="active">
                <center>{{item.diffrent}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>mechanic</center>
              </td>
              <td class="active">
                <center>{{item.mechanic}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>annular</center>
              </td>
              <td class="active">
                <center>{{item.annular}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>linear</center>
              </td>
              <td class="active">
                <center>{{item.linear}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>convex</center>
              </td>
              <td class="active">
                <center>{{item.convex}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>phased</center>
              </td>
              <td class="active">
                <center>{{item.phased}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>multifq</center>
              </td>
              <td class="active">
                <center>{{item.multifq}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>endovaginal</center>
              </td>
              <td class="active">
                <center>{{item.endovaginal}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>endorectal</center>
              </td>
              <td class="active">
                <center>{{item.endorectal}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>other</center>
              </td>
              <td class="active">
                <center>{{item.other}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>framerate</center>
              </td>
              <td class="active">
                <center>{{item.framerate}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>grayscale</center>
              </td>
              <td class="active">
                <center>{{item.grayscale}}</center>
              </td>
            </tr>
                          <tr>
              <td class="danger">
                <center>preprocess</center>
              </td>
              <td class="active">
                <center>{{item.preprocess}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>postprocess</center>
              </td>
              <td class="active">
                <center>{{item.postprocess}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>dispdepth</center>
              </td>
              <td class="active">
                <center>{{item.dispdepth}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>mmode</center>
              </td>
              <td class="active">
                <center>{{item.mmode}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>mmode2d</center>
              </td>
              <td class="active">
                <center>{{item.mmode2d}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>a3d</center>
              </td>
              <td class="active">
                <center>{{item.a3d}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>a4d</center>
              </td>
              <td class="active">
                <center>{{item.a4d}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>harmonicimaging</center>
              </td>
              <td class="active">
                <center>{{item.harmonicimaging}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>dopplertype</center>
              </td>
              <td class="active">
                <center>{{item.dopplertype}}</center>
              </td>
            </tr>
             <tr>
              <td class="danger">
                <center>fqdisp</center>
              </td>
              <td class="active">
                <center>{{item.fqdisp}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>veldisp</center>
              </td>
              <td class="active">
                <center>{{item.veldisp}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>power</center>
              </td>
              <td class="active">
                <center>{{item.power}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>duplex</center>
              </td>
              <td class="active">
                <center>{{item.duplex}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>triplex</center>
              </td>
              <td class="active">
                <center>{{item.triplex}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>digital</center>
              </td>
              <td class="active">
                <center>{{item.digital}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>selectable</center>
              </td>
              <td class="active">
                <center>{{item.selectable}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>adjustable</center>
              </td>
              <td class="active">
                <center>{{item.adjustable}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>dynamicrec</center>
              </td>
              <td class="active">
                <center>{{item.dynamicrec}}</center>
              </td>
            </tr>
             <tr>
              <td class="danger">
                <center>measurements</center>
              </td>
              <td class="active">
                <center>{{item.measurements}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>rtimg</center>
              </td>
              <td class="active">
                <center>{{item.rtimg}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>freez</center>
              </td>
              <td class="active">
                <center>{{item.freez}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>capacity</center>
              </td>
              <td class="active">
                <center>{{item.capacity}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>cine</center>
              </td>
              <td class="active">
                <center>{{item.cine}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>dicom</center>
              </td>
              <td class="active">
                <center>{{item.dicom}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>pacs</center>
              </td>
              <td class="active">
                <center>{{item.pacs}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>cardiac</center>
              </td>
              <td class="active">
                <center>{{item.cardiac}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>vasc</center>
              </td>
              <td class="active">
                <center>{{item.vasc}}</center>
              </td>
            </tr>
             <tr>
              <td class="danger">
                <center>ob</center>
              </td>
              <td class="active">
                <center>{{item.ob}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>others</center>
              </td>
              <td class="active">
                <center>{{item.others}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>progprot</center>
              </td>
              <td class="active">
                <center>{{item.progprot}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>userprog</center>
              </td>
              <td class="active">
                <center>{{item.userprog}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>transrec</center>
              </td>
              <td class="active">
                <center>{{item.transrec}}</center>
              </td>
            </tr>
             <tr>
              <td class="danger">
                <center>transperineal</center>
              </td>
              <td class="active">
                <center>{{item.transperineal}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>monitor</center>
              </td>
              <td class="active">
                <center>{{item.monitor}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>split</center>
              </td>
              <td class="active">
                <center>{{item.split}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>powerr</center>
              </td>
              <td class="active">
                <center>{{item.powerr}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>battery</center>
              </td>
              <td class="active">
                <center>{{item.battery}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>hwd</center>
              </td>
              <td class="active">
                <center>{{item.hwd}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>weight</center>
              </td>
              <td class="active">
                <center>{{item.weight}}</center>
              </td>
            </tr>
            <tr>
              <td class="danger">
                <center>warr</center>
              </td>
              <td class="active">
                <center>{{item.warr}}</center>
              </td>
            </tr>


          </tbody>
        </table>

      </div>
      <div class="col-sm-3">
        <br>
        <br>


        <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
          <div class='carousel-outer'>
            <!-- Wrapper for slides -->
            <div class='carousel-inner'>
              <div class='item active'>
              <img ng-src="../images/model/{{item.brand}}/{{item.model}}/1.jpg" alt="" />
              </div>
              <div class='item'>
                <img src='../images/test/2.png' alt='' />
              </div>
              <div class='item'>
                <img src='../images/test/1.png' alt='' />
              </div>
              <div class='item'>
                <img src='../images/test/3.png' alt='' />
              </div>


            </div>

            <!-- Controls -->
            <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
              <span class='glyphicon glyphicon-chevron-left'></span>
            </a>
            <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
              <span class='glyphicon glyphicon-chevron-right'></span>
            </a>
          </div>

          <!-- Indicators -->
          <ol class='carousel-indicators mCustomScrollbar'>
            <li data-target='#carousel-custom' data-slide-to='0' class='active'>
              <img ng-src="../images/model/{{item.brand}}/{{item.model}}/1t.jpg" alt="" />
            </li>
            <li data-target='#carousel-custom' data-slide-to='1'>
              <img src='../images/test/2t.png' alt='' />
            </li>
            <li data-target='#carousel-custom' data-slide-to='2'>
              <img src='../images/test/1t.png' alt='' />
            </li>
            <li data-target='#carousel-custom' data-slide-to='3'>
              <img src='../images/test/2t.png' alt='' />
            </li>

          </ol>
        </div>



      </div>
    </div>

  </div>
</div>
