<!DOCTYPE html>
<html ng-app="devicefinder" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="information about medical device and compare brands and models">
    <meta name="author" content="Behnam Ghafary">
    <link rel="icon" href="../../favicon.ico">

    <title>Medical-devices.ir</title>

    <!-- Bootstrap core CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/lib/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <script src="js/lib/jquery-2.1.4.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/controllers/app.js"></script>
    <div class="container-fluid">
      <div class="jumbotron">
<div ng-controller="SiemensController as devicefinder">
  <table>
              <tr>
                <td>Brands name</td>
                <td>model name</td>
                <td>year</td>
                <td>clinical application</td>
                <td>frame rate</td>
              </tr>
              <tr ng-repeat="item in devicefinder.lists">
                <td>{{item.brand}}</td>
                <td>{{item.model}}</td>
                <td>{{item.year}}</td>
                <td>{{item.clinicalapp}}</td>
                <td>{{item.framerate}}</td>
              </tr>

            </table>
</div>
            </div>
      <!-- Site footer -->
      <footer class="footer">
        <p>BehnamGh</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
