
        <div class="col-lg-3">
        <a href="#/sono/mindray"><img src="images/brands-logo/mindray.png" alt="mindray-logo" height="100px" width="200px"/></a>
        </div>
        <div class="col-lg-3">
          <a href="#/sono/siemens"><img src="images/brands-logo/siemens.png" alt="siemens-logo" height="100px" width="200px"/></a>
        </div>
        <div class="col-lg-3">
          <a href="#/sono/philips"><img src="images/brands-logo/philips.png" alt="philips-logo" height="100px" width="200px"/></a>
        </div>
