
@font-face {
  font-family: "JF Flat Regular";
  src: url("fonts/JF-Flat-regular.eot");
  src: url("fonts/JF-Flat-regular.eot?#iefix") format('embedded-opentype'), url("fonts/JF-Flat-regular.svg#JF Flat Regular") format('svg'), url("fonts/JF-Flat-regular.woff") format('woff'), url("fonts/JF-Flat-regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "khati";
  src: url("fonts/Akhat-khati.eot");
  src: url("fonts/Akhat-khati.eot?#iefix") format('embedded-opentype'), url("fonts/Akhat-khati.svg#JF Flat Regular") format('svg'), url("fonts/Akhat-khati.woff") format('woff'), url("fonts/Akhat-khati.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "afsane";
  src: url("fonts/AAfsaneh.eot");
  src: url("fonts/AAfsaneh.eot?#iefix") format('embedded-opentype'), url("fonts/AAfsaneh.svg#JF Flat Regular") format('svg'), url("fonts/AAfsaneh.woff") format('woff'), url("fonts/AAfsaneh.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bnazanb';
  src: url("fonts/bnazanb.eot");
  src: local('fonts/bnazanb'), url("fonts/bnazanb.woff") format('woff'), url("fonts/bnazanb.ttf") format('truetype');
}
.matn {
  direction: rtl;
  font-family: 'bnazanb';
}
p.matn {
  line-height: 160%;
  justify-content: flex-start;
}
body{
  background-color: #C5D4D9;
}
nav{
  background-color: $lightgray;
}
ul.nav li a{
color: white;
}
ul.nav li a:hover{
background-color: $darkgray;
}
div.col-lg-3{
  border: 1px dotted black;
  border-radius: 25px;
}
.carousel-caption{
  color: black;
}
.dropdown-menu{
  right: 100%;
top: 20%;
}

ul.dropdown-menu li a{
  color: black;
}
.sidebar-right{
  float: right;
}
